/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#fff;outline:0;}
body{background:#fff;font-size: 16px;}
.clearfix:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
.clearfix{zoom:1;}
.height20{height: 20px;}
.height56{height: 56px;}
.height60{height: 60px;}
.height50{height: 50px;}
.height66{height: 66px;}
.height70{height: 70px;}
.height80{height: 80px;}
.height90{height: 90px;}
.height100{height: 100px;}
.height110{height: 110px;}
.height120{height: 120px;}
.height100{height: 100px;}
.mobileShow{display: none;}
.mobileHide{display: block;}


body,html{background: #272a2f;}


.topNav{
    z-index: 100;
    height: 60px;
    width: 100%;
    position: fixed;
    top:0;
    background: rgba(41,43,49,0.5);
    //padding-left: 84px;
    img{
        width: 134px;
        height: 40px;
        display: block;
        margin-left: 14px;
        margin-top: 12px;
        float: left;
    }
    .icon-USDX-logo{
        color: #fff;
        font-size: 40px;
        float:left;
        margin-left: 14px;
        margin-top: 10px;
    }
    ul{
        float: right;
        padding-top: 20px;
        padding-right: 60px;
        li {
            float: left;
            display: block;
            height: 28px;
            line-height: 28px;
            padding-left: 17px;
            padding-right: 17px;
            text-align: center;
            a{
                font-size: 16px;
                color: #ffffff;
            }
            a.active,a:hover{
                color: #02f7f7;
            }
        }
    }
    .navtab-box{
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        &.active{
            height: auto;
        }
    }
    .navtab{
        z-index: -1;
        transition: 0.6s;
        transform: translate3d(0,-100%,0);
        &.active{
            z-index: 1;
            transform: translate3d(0,0,0);
        }
        div{
            height: 45px;
            line-height: 45px;
            padding: 0 12px;
            background-color: #2d3036;
            border-bottom: 1px solid #393b41;
            a{
                display: block;
                width: 100%;
                font-size: 12px;
                color: #fff;
                &.active,&:hover{
                    color: #02f7f7;
                }
            }
        }
    }
}
.homeBox{
    .icon-USDX{
        font-size: 60px;
    }
    .icon-team1{
        font-size: 26px;
        float:left;
        font-weight: normal;
        margin-left: 18px;
        margin-right: 18px;
        color: #fff;
    }
}

.indexSection{
    width: 100%;
    // padding: 10% 0 15%;
    // height: 638px;
    background-color: #2c2f35;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
}
.indexBox{
    width:960px;
    height:468px;
    margin: 0 auto;
    background-image: url("../images/index_bg.jpg");
    background-repeat: no-repeat;
    background-position: 80px top;
    background-size: 645px auto;
    h2{
        font-size: 60px;
        color: #fff;
        line-height:60px;
    }
    p{
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        margin-top: 30px;
    }
}
.indexContent{
    padding-left: 546px;
    padding-top: 70px;
}
.whitePaper{
    font-size: 13px;
    color: #ffffff;
    display: block;
    border:1px solid #12a6a9;
    border-radius: 2px;
    width: 178px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    margin-top: 30px;
}
.deck{
    margin-top: 10px;
}

.adviserBox{
    background: #2b2e34;
    width:100%;
    padding-top: 58px;

}
.aboutUSDX{
    background: #2e3137;
    width: 100%;
    background-image: url("../images/about_bg.png");
    background-repeat: no-repeat;
    background-size: 1280px auto;
    background-position: center center;
    .title{
        width: 492px;
        margin:  0 auto;
        color: #ffffff;
        font-size: 24px;
    }
}
.aboutContent{
    width: 960px;
    height: 600px;
    margin:  0 auto;
    position: relative;
    .content{
        width: 498px;
        padding-left: 0px;
        padding-top: 86px;
        h2{
            font-size: 28px;
            color: #fff;
            font-weight: normal;
            line-height: 28px;

        }
        p{
            font-size: 16px;
            color: #fff;
            margin-top: 19px;
            line-height: 22px;
            padding-right: 50px;
        }
        .line{
            height: 2px;
            width: 64px;
            background-color: #267474;
            margin-top: 26px;
        }
        .swiperBtn{display: block;float: left;width: 32px; height: 32px;}
        .swiperLeft{margin-right: 20px;margin-top: -3px;}
        .icon-right_arrow,.icon-left_arrow{font-size: 31px;color: #4a4f59;}
        .active{
            .icon-right_arrow,.icon-left_arrow{font-size: 31px;color: #05e1e3;}
        }
        .swiperRight{margin-left: 20px;margin-top: -3px;}
        .order{
            .number{
                float: left;
            }
            margin-top: 18px;
            .big_number_font{
                color: #04e0e0;
                font-size: 22px;
                font-weight: bold;
            }
            .icon-three{font-size: 26px;}
            .icon-two{font-size: 26px;}
            .small_number_font{
                color:#ffffff;
                font-size: 12px;
            }
            /*.big{
                color: #04e0e0;
                font-size: 26px;
            }*/
            .small{
                font-size: 13px;
                color: #fff;
            }

        }
    }
    .rightPicBox{position: absolute;
        right: 0;
        width: 457px;
        height: 394px;
        top:142px;
        .bottomBase{
            position: absolute;
            bottom: 10px;
            right: 0px;
            background-image: url("../images/phases/base_icon.png");
            background-repeat: no-repeat;
            background-size: 461px 336px;
            width: 461px;
            height: 336px;
            .txt{
                color:#373b45;
                font-size: 20px;
                position: absolute;
                bottom: 92px;
                left:200px;
            }
        }
        .topImage{
            position: absolute;
            bottom: 96px;
            right: 26px;
            background-image: url("../images/phases/phaseOne.png");
            background-repeat: no-repeat;
            background-size: 455px 385px;
            width: 455px;
            height: 385px;
        }
        .topTwoImage{
            bottom: 133px;
            right: -12px;
            position: absolute;
            background-image: url("../images/phases/phaseTwo.png");
            background-repeat: no-repeat;
            background-size: 517px 319px;
            width: 517px;
            height: 319px;
        }
        .topThreeImage{
            position: absolute;
            bottom: 136px;
            right: -66px;
            background-image: url("../images/phases/phaseThree.png");
            background-size: 517px 319px;
            width: 517px;
            height: 319px;
        }

    }

}
.phaseTwoDesc{
    padding-top: 10px;

    .psIconfont{
        color: #08d6d8;
        font-size: 15px;
        display: block;
        float: left;
        margin-top: 1px;
    }

    li{
        display: block;
        height: 15px;
        line-height: 15px;
        margin-top: 16px;
        .icon{color:#04e0e0;float: left;}

        span{
            float: left;
            margin-left: 12px;
            font-size: 16px;
            color: #fff;
        }
    }
}


.phaseTwoBox .rightPicBox .topImage{
    bottom: 150px;
    right: -40px;
    background-image: url("../images/phases/phaseTwo.png");
    background-size: 470px 290px;
    width: 470px;
    height: 290px;
}
.phaseOneBox{
    .order{
        position: absolute;
        top: 416px;
        .number{margin-top: 2px;}
        .icon-one{font-size: 24px;}
    }
}
.phaseTwoBox{
    .order{
        position: absolute;
        top: 416px;
    }
}
.phaseThreeBox{
    .content{
        p{
            line-height: 22px;
        }
    }
    .rightPicBox{
        .topImage{
            bottom: 135px;
            right: -26px;
            background-image: url("../images/phases/phaseThree.png");
            background-size: 470px 290px;
            width: 465px;
            height: 306px;
        }
    }

}
.aboutContent p{font-size: 13px;}
.aboutContent .number{width: 56px;}
.partenersBox .title{
    background: #282B30;
    height:40px;
    line-height: 40px;
    width: 445px;
    margin: 0 auto;
}
.teamBox{
    background-color: #24272b;
    position: relative;
    .title{
        width: 352px;
        height:40px;
        line-height: 40px;
        margin: 0 auto;
        .line_icon{
            background: url("../images/left_line_icon.png") no-repeat;
            background-size: 109px 1px;
            display: block;
            width: 109px;
            height: 40px;
            background-position: left center;
        }
        .left_line{
            float: left;
        }
        span{
            font-size: 34px;
            font-weight: bold;
            float: left;
            margin-left: 18px;
            margin-right: 18px;
            color: #fff;
        }
        .right_line{
            float: left;
            background-image: url("../images/right_line_icon.png");
        }
    }
    .teamBg{
        .icon-team1{
            font-weight: bold;
            font-size: 130px;
            position: absolute;
            right: 10px;
            top:116px;
            opacity: 0.01;
        }


    }
    .teamMember{
        width: 960px;
        margin: 0 auto;
        padding: 0 10% 70px;
        .intro{
            position: relative;
            z-index: 2;
            .title{
                font-size: 24px;
                font-weight: normal;
            }
        }
        p{
            font-size: 16px;
            color: #999999;
            line-height: 22px;
            margin-top: 10px;
        }
        .mt2{margin-top: 2px;}
        .itemOne{
            position: relative;
            height: auto;
            padding-left: 97px;
            .intro{
                font-size: 15px;
                width: 298px;
                text-align: left;
                float: left;
                padding-top: 40px
            }
            .bigCapitial{
                position: absolute;
                width: 169px;
                height: 219px;
                display: block;
                background: url("../images/r_big_icon.png") no-repeat;
                background-size: 163px 211px;
                left: 325px;
                top:152px;
            }
            img{
                display: block;
                padding-left:26px;
                width: 215px;
                height: 204px;
            }
        }
        .itemTwo{
            height:438px;
            position: relative;
            float: right;
            margin-right: 100px;
            margin-top: 40px;
            .intro{
                font-size: 15px;
                width: 296px;
                text-align: left;
            }
            .teamPic{
                padding-top: 16px;
                padding-left: 38px;
            }
            img{
                width: 202px;
                height: 202px;
            }
            .bigCapitial{
                position: absolute;
                width: 147px;
                height: 225px;
                display: block;
                background: url("../images/l_big_icon.png") no-repeat;
                background-size: 147px 225px;
                right: 180px;
                top: 292px;
            }
        }
        .itemThree{
            height: 444px;
            position: relative;
            padding-top: 120px;
            .intro{
                font-size: 15px;
                width: 298px;
                text-align: left;
                margin-top: 300px;
                margin-left: 110px;
            }
            .teamPic{

                img{
                    display: block;
                    position: absolute;
                    top: 200px;
                    left: 168px;
                    width: 207px;
                    height: 203px;
                }
            }
            .bigCapitial{
                width: 175px;
                height: 168px;
                display: block;
                background: url("../images/m_big_icon.png") no-repeat;
                background-size: 175px 168px;
                position: absolute;
                top:130px;
                left:0px;
            }
        }
        .itemFour{
            position: relative;
            margin-top: 100px;
            .intro{
                font-size: 15px;
                width: 296px;
                text-align: left;
                float: left;
                margin-top: 72px;
                margin-left: 178px;
            }
            .teamPic{
                float: left;
                margin-left: 21px;
                margin-top: 156px;
                img{
                    position: absolute;
                    display: block;
                    right: 130px;
                    top:36px;
                    width: 215px;
                    height: 204px;
                }
            }
            .bigCapitial{
                position: absolute;
                width: 152px;
                height: 197px;
                display: block;
                background: url("../images/d_big_icon.png") no-repeat;
                background-size: 152px 197px;
                left: 446px;
                top:-26px;
            }
        }
    }
}
.support-box{
    background-color: #222529;
}
.support-box{
    .title{
        width: 463px;
    }
}
.teamHeader img{
    display: block;
    margin: 0 auto;
}
/*.teamPic{
    img{
        width: 200px;
    }
}*/
.intro{
    .big_number_font{
        font-size: 22px;
        color: #fff;
        font-weight: bold;
    }
    .icon-two{font-size: 26px;}
    .icon-three{font-size: 26px;}
    .icon-four{font-size: 26px;}
    .small_number_font{
        font-size: 12px;
        color: #fff;

    }
}
.advisorBox{
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 3;
    .icon-adivsor{
        font-size: 100px;
        opacity: 0.01;
        font-weight: normal;
    }
}
.partenersBox{
    .title{
        .line_icon{
            background: url("../images/left_line_icon.png") no-repeat;
            background-size: 109px 1px;
            display: block;
            width: 109px;
            height: 40px;
            background-position: left center;
        }
        .left_line{
            float: left;
        }
        span{
            font-size: 34px;
            font-weight: bold;
            float: left;
            margin-left: 18px;
            margin-right: 18px;
            color: #fff;
        }
        .right_line{
            float: left;
            background-image: url("../images/right_line_icon.png");
        }
    }
}

.aboutUSDX{
    .title{
        .line_icon{
            background: url("../images/left_line_icon.png") no-repeat;
            background-size: 109px 1px;
            display: block;
            width: 109px;
            height: 40px;
            background-position: left center;
        }
        .left_line{
            float: left;
        }
        span{
            font-size: 34px;
            font-weight: bold;
            float: left;
            margin-left: 18px;
            margin-right: 18px;
            color: #fff;
        }
        .right_line{
            float: left;
            background-image: url("../images/right_line_icon.png");
        }
    }
}

.partenersBox {
    .itemContainer{
        padding-top: 26px;
        padding-bottom: 85px;
        ul{
            display: flex;
            width: 80%;
            margin: 0 auto;
            li{
                flex: 1;
                display: block;
                margin-top: 20px;
                margin-right: 20px;
                border: 1px solid #25272c;
                img{
                    display: block;
                    width: 100%;
                }
                &:last-child{
                    margin-right: 0;
                }
                &.active,&:active,&:hover{
                    border: 1px solid #2e3137;
                    background-color: #2e3137;
                    box-shadow: 3px 2.598px 12.18px 1.82px rgba(0, 0, 0, 0.067);
                }
            }
        }
    }
}
.hexagon-box{
    background-color: #23252a;
}
.blueBg{
    background-color: #23252a;
    position: relative;
}
.footerBox{
    background: #292b31;
    height: 298px;
    width: 100%;
    padding-top: 34px;
    .linkBox{
        text-align: center;
        margin: 0 auto;
        margin-top: 28px;
        width: 320px;
        height: 48px;
        display: block;
        overflow: hidden;
        .iconfont{
            font-size: 26px;
            color: #fff;
            //margin-right: 29px;
        }
        a{
            width: 80px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            //margin-right: 60px;
            display: block;
            float: left;

        }
        a:hover{
            i{
                color:#06dde0;
            }
        }
        a:last-child{
            margin-right: 0px;
        }
    }
    .copyRight{
        color:#cccccc;
        font-size: 15px;
        text-align: center;
        margin-top: 54px;
    }

}
.bottomLogo{text-align: center;}
.bottomLogo .icon-USDX-logo{
    font-size: 70px;
    color: #fff;
    text-align: center;
}
.supportBg{
    background-color: #222529;
}
/*750*/
@media screen and (max-width: 720px) {
    @import "./main_iphone";
}