@mixin bg($img,$x:100%,$y:100%){
	background-repeat: no-repeat;
	background-image: url('../../images/#{$img}');
	background-size: $x $y;
}
@mixin eps{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

